# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/web/common/**/**.js
/web/common/**/**.js.map
/web/server/**/**.js
/web/server/**/**.js.map
/web/client/**/**.jsx
# dependencies
/web/node_modules

# IDEs and editors
/.idea
