# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/web/out

/web/server_out
/web/common/**/**.js
/web/common/**/**.js.map
/web/server/**/**.js
/web/server/**/**.js.map

# dependencies
/web/node_modules

# IDEs and editors
/.idea
