body {
    font-family: sans-serif;
    min-width: 320px;
}
.App {
    display: flex;
    flex-flow: column;
}
.page {
    padding: 0 24px;
}
.example-enter {
    opacity: 0.01;
}
a {color: #080808;}      /* unvisited link */
a:visited {color:#080808;}  /* visited link */
a:hover {color:#080808;}  /* mouse over link */
a:active {color:#080808;}  /* selected link */