.menu a{text-decoration: none; height: 30px; font-size:24px;color: #d3ffbb;}
.menu ul {list-style-type: none; margin: 0; padding: 0; display: inline-block;}
.menu {background-color: #3b3738; height : 50px; border-bottom: solid #d3ffbb;}
.menu {font-family: "Calibri Light"}
#login-menu{float: right;}
body {margin : 0;}